@use '../variables';

@mixin tempSignPoleMixin(
  $tempSignPoleSpecial: false,
  $tempSignPoleGradientColor: variables.$black
) {
  @if $tempSignPoleSpecial {
    background: variables.$primary1;
  } @else {
    background: repeating-linear-gradient(
      $tempSignPoleGradientColor,
      $tempSignPoleGradientColor,
      15px,
      variables.$white 15px,
      variables.$white 30px
    );
  }
}
