// flex

@mixin flex {
  display: flex;
}

@mixin flexColumn {
  @include flex;

  flex-direction: column;
}

@mixin flexCenter {
  @include flex;

  align-items: center;
}

@mixin flexCenterCenter {
  @include flexCenter;

  justify-content: center;
}

@mixin flexCenterSpaceBetween {
  @include flexCenter;

  justify-content: space-between;
}

@mixin flexColumnCenter {
  @include flexColumn;

  align-items: center;
}

@mixin flexColumnCenterCenter {
  @include flexColumnCenter;

  justify-content: center;
}

@mixin flexColumnCenterSpaceBetween {
  @include flexColumnCenter;

  justify-content: space-between;
}

// grid
@mixin grid {
  display: grid;
}

@mixin gridCenter {
  @include grid;

  place-items: center;
}

// other

@mixin positionTransformCentering {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
