@use '../variables';

@use './breakpoints';

@mixin fixedSidebar {
  transition: variables.$transition;
  scrollbar-width: none;

  ::-webkit-scrollbar {
    display: none;
  }

  @include breakpoints.desktopSmall {
    z-index: 1;
    position: fixed;
    min-width: 60%;
    transform: translate(-100%);
  }

  @include breakpoints.tablet {
    min-width: 70%;
  }

  @include breakpoints.tabletSmall {
    min-width: 80%;
  }

  @include breakpoints.mobile {
    min-width: 100%;
  }

  &_shown {
    transform: translate(0);
  }
}
