@use '../../../../../../theme/' as *;
@use '../../../../theme/' as CISTheme;

.animatedSign {
  &.driveForward {
    @include CISTheme.driveForward;
  }

  &.driveBackward {
    @include CISTheme.driveBackward;
  }

  &.slowDown {
    @include CISTheme.slowDown;
  }

  &.stop {
    @include CISTheme.stop;
  }

  &.startBreaking {
    @include CISTheme.startBreaking;
  }

  &.stopBreaking {
    @include CISTheme.stopBreaking;
  }

  &.damagedCatenary {
    @include CISTheme.damagedCatenary;
  }
}

.cap {
  padding: 5px;
  background: $black;
  transform: translate(-25%);
}

.frame,
.lightFrame {
  transform: translate(-42%, 5%);

  &.catenaryPoleSign {
    transform: translate(-23%, 50%);
  }

  &.catenaryWireSign {
    transform: translate(-50%, 5%);
  }
}

.frame {
  @include flexColumnCenterCenter;

  width: 50px;
  height: 50px;
  background: $white;

  &.roundedFrame {
    border-radius: 50%;
  }

  &.diamondFrame {
    transform: rotate(45deg) translate(20%, 50%);
  }
}

.lightFrame {
  @include gridCenter;

  height: 32px;
  width: 26px;
  background: $black;
}

.coloredFrame {
  height: 38px;
  width: 38px;
  border: 5px solid $black;

  &.yellow {
    background: yellow;
  }

  &.green {
    background: green;
  }
}

.plate {
  height: 32px;
  width: 26px;
  transform: translate(-42%, 5%);
  background: $black;
}

.light {
  border: 1px solid $black;
}
