@use '../../../../../../theme/' as *;

.sign {
  // grips
  &.defaultGrip {
    background: $primary1;
  }

  &.blackGrip {
    background: $black;
  }

  // poles
  &.pole {
    height: 170px;
    width: 5px;
    border: 1px solid $black;

    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 10%,
      rgba(255, 255, 255, 1) 10%,
      rgba(255, 255, 255, 1) 36%,
      rgba(0, 0, 0, 1) 36%,
      rgba(0, 0, 0, 1) 42%,
      rgba(255, 255, 255, 1) 36%,
      rgba(255, 255, 255, 1) 76%,
      rgba(0, 0, 0, 1) 76%
    );
  }

  &.catenaryPole {
    background: $primary1;
    width: 30px;
    height: 200px;
  }

  &.tempSignPole {
    @include tempSignPoleMixin();

    &.special {
      @include tempSignPoleMixin(true);
    }

    &.green {
      @include tempSignPoleMixin(false, green);
    }

    &.yellow {
      @include tempSignPoleMixin(false, yellow);
    }

    &.red {
      @include tempSignPoleMixin(false, red);
    }
  }
}

// common cis sign css

.cap {
  padding: 5px;
  background: $black;
  transform: translate(-25%);
}

.frame,
.lightFrame {
  transform: translate(-42%, 5%);

  &.catenaryPoleSign {
    transform: translate(-23%, 50%);
  }
}

.frame {
  @include flexColumnCenterCenter;

  width: 50px;
  height: 50px;
  background: $white;

  &.roundedFrame {
    border-radius: 50%;
  }

  &.diamondFrame {
    transform: rotate(45deg) translate(20%, 50%);
  }
}

.lightFrame {
  @include gridCenter;

  height: 32px;
  width: 26px;
  background: $black;
}

.coloredFrame {
  height: 38px;
  width: 38px;
  border: 5px solid $black;

  &.yellow {
    background: yellow;
  }

  &.green {
    background: green;
  }
}

.plate {
  height: 32px;
  width: 26px;
  transform: translate(-42%, 5%);
  background: $black;
}

.light {
  border: 1px solid $black;
}
