@use '../../../../../../theme/' as *;

.frame {
  // modes
  &.straightDay {
    width: 20px;
    height: 50px;
    border: 5px solid $black;
    background: grey;
  }
  &.straightNight {
    width: 20px;
    height: 50px;
    border: 5px solid $black;
  }
  &.straightAnalog {
    display: none;
  }
  &.divert {
    width: 30px;
    height: 30px;
    border: 5px solid $black;
  }
  &.divertAnalog {
    clip-path: polygon(25% 0%, 100% 0, 75% 50%, 100% 100%, 25% 100%, 0% 50%);
    width: 100px;
    height: 50px;

    .divertAnalog__DarkPart {
      clip-path: polygon(50% 0%, 100% 0, 50% 50%, 100% 100%, 50% 100%, 0% 50%);
      width: 60px;
      height: 50px;
      background: $black;
    }
  }

  // shrunk
  &.shrink {
    transform: scale(0.7);
    margin: 0 3rem 0 0;
  }
}
