@use '../../../../../../theme/' as *;

.frame {
  // modes
  &.straightAnalog,
  &.divertAnalog {
    display: none;
  }

  &.straightDay {
    width: 20px;
    height: 50px;
    border: 5px solid $black;
    background: grey;
  }

  &.straightNight {
    width: 20px;
    height: 50px;
    border: 5px solid $black;
  }

  &.divert {
    width: 30px;
    height: 30px;
    border: 5px solid $black;
  }
}

.divertAnalogFrame {
  transform: translate(-50%, 5%);
}
