@use '../../../theme/' as *;

.descriptionList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  @include mobile {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
