@use '../../../theme/' as *;

.container {
  display: flex;
  justify-content: center;

  @include desktopSmall {
    justify-content: flex-start;
  }
}

.sidebar {
  @include fixedSidebar;

  z-index: 2;

  @include desktopSmall {
    top: 0;
  }
}

.contentFilters {
  top: 0;
  position: sticky;
  max-width: 350px;
  background: white;
  overflow-y: scroll;
  max-height: 99.5vh;
}

.filterToggler {
  display: none;
  margin: 0 0 2rem;

  @include desktopSmall {
    display: block;
  }

  @include mobile {
    width: 85vw;
  }
}

.content {
  @include desktopSmall {
    margin: 0 auto;
  }
}
