@use '../../../theme/' as *;

.container {
  display: flex;
  justify-content: center;

  @include desktopSmall {
    justify-content: flex-start;
  }
}

.sidebar {
  @include fixedSidebar;

  @include desktopSmall {
    top: 0;
  }
}

.contentFilters {
  position: sticky;
  top: 80px;
  max-width: 350px;
  background: $white;
  overflow-y: scroll;
  max-height: 99.5vh;
  transition: $transition;

  &.translated {
    top: 0;
  }

  @include desktopSmall {
    top: 79px;
  }
}

.topFilterOuterWrapper {
  @include flexCenterCenter;

  width: 100%;
  background: $white;
  position: sticky;
  top: 79px;
  padding: 1rem 0;
  z-index: 1;
  transition: $transition;

  &.hidden {
    transform: translateY(-220%);
  }
}

.topFilterInnerWrapper {
  @include flexCenterCenter;

  gap: 16px;
  width: 90%;
}

.filterToggler {
  display: none;

  @include desktopSmall {
    @include flex;
  }

  &__icon {
    font-size: 18px;

    path {
      stroke-width: 1px;
    }
  }
}

.content {
  @include desktopSmall {
    margin: 0 auto;
  }
}
