@use '../../../theme/' as *;

.container {
  padding: 1rem;
  border-bottom: 1px solid $interactiveElementColor;
}

.buttonContainer {
  @include flexCenterCenter;
  flex-wrap: wrap;
}

.filterButton {
  background: white;
  color: $interactiveElementColor;
  border-radius: 0;
  border: 1px solid transparent;
  cursor: pointer;
  :hover {
    border-color: $interactiveElementColor;
  }
}

.active {
  background: $interactiveElementColor;
  color: white;
}
