@use '../../../theme/' as *;

.container {
  margin-bottom: 1rem;
}

.plank {
  width: 100px;
  height: 7px;
}

.plank1 {
  transform: translate(-42%) rotate(30deg);
}

.plank2 {
  transform: translate(-42%, -85%) rotate(-30deg);
}
