@use '../../../theme/' as *;

.light {
  border-radius: 50%;

  // sizes
  &.routePointer {
    width: 5px;
    height: 5px;
  }
  &.default {
    width: 20px;
    height: 20px;
  }
  &.small {
    width: 13px;
    height: 13px;
  }

  // standard colors
  &.turnedOff {
    background: $turnedOffAspect;
  }
  &.green {
    background: $greenAspect;
  }
  &.green-flickering {
    --color: #{$greenAspect};
    animation: flickering 2s infinite;
  }
  &.yellow {
    background: $yellowAspect;
  }
  &.yellow-flickering {
    --color: #{$yellowAspect};
    animation: flickering 2s infinite;
  }
  &.red {
    background: $redAspect;
  }
  &.moonWhite {
    background: $moonWhiteAspect;
  }
  &.moonWhite-flickering {
    --color: #{$moonWhiteAspect};
    animation: flickering 2s infinite;
  }
  &.blue {
    background: $blueAspect;
  }
}

// animation
@keyframes flickering {
  0% {
    background: $turnedOffAspect;
  }
  50% {
    background: var(--color);
  }
  100% {
    background: $turnedOffAspect;
  }
}
