@use '../../../theme/' as *;

.button {
  color: white;
  background: seagreen;
  padding: 1rem;
  border: 1px solid transparent;
  font-family: $primary-font;
  font-size: 16px;
  border-radius: $radius;
  transition: $transition;
}

.button:hover {
  border: 1px solid seagreen;
  background: white;
  color: seagreen;
}
