// white/black
$white: white;
$black: black;

// primary colors
$primary1: #6c757d;
$primary2: #8b939a;
$primary3: #a48d6b;
$primary4: #643e26;
$primary5: #0a0603;

// default aspect colors
$yellowAspect: #ffae42;
$greenAspect: #00b600;
$redAspect: #fa0000;
$moonWhiteAspect: #c2c5cc;
$blueAspect: #0060fb;
