@use '../../../theme' as *;

.container {
  position: relative;
  height: 100vh;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url($homePageImage) 50% 80% / cover no-repeat fixed;
}

.heroContainer {
  @include flexColumnCenterCenter;
  @include positionTransformCentering;

  min-width: 90vw;
  text-align: center;
  color: $white;
}
