@use '../../../../../theme/' as *;

.sign {
  background: $primary2;
  border: 1px solid $black;

  // types
  &.standalone {
    width: 5px;
    height: 170px;
  }

  &.dwarfStandalone {
    width: 5px;
    height: 80px;
  }

  &.onCatenaryPole {
    width: 30px;
    height: 200px;
  }

  &.handheld {
    width: 5px;
    height: 70px;
  }

  // rotation
  &.deg90 {
    transform: rotate(90deg);
  }

  &.deg315 {
    transform: rotate(-45deg);
  }

  // at distance
  &.atDistance {
    transform: scale(0.7);
  }
}
