@use '../../../theme/' as *;

.innerCentering {
  @include flexCenterSpaceBetween;

  max-width: 1170px;
  margin: 0 auto;
}

.headerLinks {
  @include flexCenterSpaceBetween;

  gap: 2rem;

  &__mobile {
    @include flexColumn;

    margin-bottom: 1rem;
    padding: 1rem 0;
  }
}

.menuButton {
  padding: 10px;
  background: transparent;
  border: none;
  display: none;
  cursor: pointer;
}

@include mobile {
  .headerLinks {
    display: none;
  }
  .menuButton {
    display: block;
  }
}
