@use '../../../theme/' as *;

.innerCentering {
  @include flexCenterSpaceBetween;

  max-width: 1170px;
  margin: 0 auto;
}

.headerLinks {
  @include flexCenterSpaceBetween;

  gap: 2rem;

  @include mobile {
    display: none;
  }
}

.headerLinks__mobile {
  @include flexColumn;

  display: none;
  margin-bottom: 1rem;
  padding: 1rem 0;

  @include mobile {
    display: block;
  }
}

.menuButton {
  padding: 10px;
  background: transparent;
  border: none;
  display: none;
  cursor: pointer;

  @include mobile {
    display: block;
  }
}
